{%- assign _page_url = page.url | remove_first: "/" -%}
{%- assign _url_parts = _page_url | split: "/" -%}
{%- if _url_parts[0] == "en" or _url_parts[0] == "ja" -%}
  {%- assign _rest_path = "" -%}
  {%- for part in _url_parts offset:1 -%}
    {%- if forloop.first -%}
      {%- assign _rest_path = part -%}
    {%- else -%}
      {%- assign _rest_path = _rest_path | append: "/" | append: part -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- assign _rest_path = _page_url -%}
{%- endif -%}
{%- for lang in site.languages -%}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}/{{ lang }}/{{ _rest_path }}" />
{%- endfor -%}
<link rel="alternate" hreflang="x-default" href="{{ site.url }}/{{ site.default_lang }}/{{ _rest_path }}" />
